:root {
    --red: #e60000;
    --shadow-red: #660000;
    --border-red: #4d0000;
    --background-img: linear-gradient( #a6a6a6, #f2f2f2f2);
}

.logo {
    margin: 30px;
}

.logo img {
    width: 20%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-div {
    display: flex;
}

.profile-img {
    width: 225px;
    border: 3px solid var(--border-red);
    margin-right: 10px;
}

.about-header {
    font-size: 1.6rem;
    text-decoration: underline 3px var(--border-red);
}

.technologies-header {
    font-size: 1.6rem;
    text-decoration: underline 3px var(--border-red);
}

/* *************** Languages *************** */
.icon {
    height: 175px;
    width: 175px;
    max-width: 100%;
    border-radius: 50%;
    font-size: 55px;
    position: relative;
    margin: 20px auto;
}

/* **************** @Media **************** */
@media screen and (max-width: 1000px) {
    .about-div {
        display: block;
    }
}